# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.idea/
.vscode/

# Data files
*.csv
*.tsv
*.log
*.h5
*.hdf5

# Output
data/outcome/
data/processed/

# System files
.DS_Store
Thumbs.db
